.add-product{
    text-align: center;
}
h1{
    color: blueviolet;
}
.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}
.form-input{
height: 35px;
margin-bottom: 20px;
padding-left: 10px;
border: 1px solid blueviolet;
}
form button{
    height: 35px;
    cursor: pointer;

}
p{
    color: green;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}